<table class="table table-striped">
    <tbody>
        <tr>
            <td>
            <form name="calculatrice">
                <center>
                    <textarea style="width: 186px; height: 24px; TEXT-ALIGN:right;resize:none;" name="result" align="right" class="affiche"></textarea><br>
                    <input style="font-weight: bold; width: 140px; height: 24px" type="reset" name="b17" value="ON/C" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b15" value="." onClick="ajouter('.')" size="30"><br>
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b2" value="7" onClick="ajouter('7')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b3" value="8" onClick="ajouter('8')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b4" value="9" onClick="ajouter('9')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b12" value=":" onClick="ajouter('/')" size="30"><br>
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b5" value="4" onClick="ajouter('4')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b6" value="5" onClick="ajouter('5')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b7" value="6" onClick="ajouter('6')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b11" value="x" onClick="ajouter('*')" size="30"><br>
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b8" value="1" onClick="ajouter('1')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b9" value="2" onClick="ajouter('2')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b10" value="3" onClick="ajouter('3')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b13" value="-" onClick="ajouter('-')" size="30"><br>
                    <input style="font-weight: bold; width: 92px; height: 24px" type="button" name="b14" value="0" onClick="ajouter('0')" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b18" value="=" onClick="calcul()" size="30">
                    <input style="font-weight: bold; width: 44px; height: 24px" type="button" name="b16" value="+" onClick="ajouter('+')" size="30"><br>
                    <input style="font-weight: bold; width: 60px; height: 24px" type="button"  class="button" value="sqrt " onClick="fonction_speciale('sqrt')">
                    <input style="font-weight: bold; width: 60px; height: 24px" type="button"  class="button" value=" pow " onClick="fonction_speciale('pow')">
                    <input style="font-weight: bold; width: 60px; height: 24px" type="button"  class="button" value=" log " onClick="fonction_speciale('log')">
                </center>
            </form>
        </td>
        </tr>
    </tbody>
</table>